/* Variables */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
	--basic-black: #000000;
	--basic-light-black: #283136;
	--basic-light-gray: #EEEEEE;
	--basic-dark-grey: #4D4D4D;
	--basic-white: #FFFFFF;
	--basic-light-red: #FB565A;

	--special-red: #E74246;
	--special-extra-red: #D7373B;
	--special-light-green: #00CA74;
	--special-extra-green: #00BC6C;
	--special-light-yellow: #EFC849;
	--special-extra-yellow: #EAB534;
	--special-gray: #666666;
	--special-dark-grey: #444444;
	--special-light-grey: #E1E1E1;
	--special-extra-grey: #DFDFDF;
	--special-extra-light-grey: #D5D5D5;
	--special-border-grey: #DBDBDB;

	--special-white-opacity: rgba(255, 255, 255, 0.3);
	--special-black-opacity: rgba(0, 0, 0, 0.3);
}

/* Global */

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto" , Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-light-black);
}

.page a {
  	text-decoration: none;
}

img {
 	max-width: 100%;
  	height: auto;
}


/*Grid*/

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

/*main-header*/


.main-header {
	background-color: var(--basic-light-gray);

}

.wrapper-container {
	width: 1160px;
	margin: 0 auto;
}


/* Main navigation */


.main-navigation {
	width: 1160px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 200px;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
	padding-top: 40px;
	width: 1160px;
	margin: 0 auto;
}


.site-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}


.site-navigation a,
.basket {
	color: var(--basic-black);
}

.site-navigation a:hover,
.basket:hover,
.site-navigation a:focus,
.basket:focus {
	color: var(--basic-light-red);
}


.site-navigation a:active,
.basket:active {
	opacity: 0.3;
	color:var(--basic-black);
}

/*quality*/

.quality {
	background-color: var(--basic-light-gray);
	margin-bottom: 80px;
}

.quality-list {
	list-style: none;
	margin: 0;
	padding: 0;
}


.quality-item {
	display: grid;
	grid-template-columns: 1fr 763px;
}

.quality-item:nth-child(2),
.quality-item:nth-child(3) {
	display: none;
}


.quality-item .quality-slogan {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color:var(--basic-black);
}

.quality-text {
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-light-black);
}

.quality-button {
	background-color: var(--basic-light-red);
}

.quality-button:hover,
.quality-button:focus {
	background-color: var(--special-red);
}

.quality-button:active {
	background-color: var(--special-red);
	color: var(--special-white-opacity);
}


/*services*/

.services {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 160px;
}

.services-item {
	list-style: none;
}

.services-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 54px; 
	padding: 0;
	margin: 0;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.services-list p {
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-light-black);
}

.services-button-sites {
	background-color: var(--basic-light-red);
}

.services-button-sites:hover,
.services-button-sites:focus {
	background-color: var(--special-extra-red);
}

.services-button-sites:active {
	background-color: var(--special-red);
	color: var(--special-white-opacity);
}

.services-button-applications {
	background-color: var(--special-light-green);
}

.services-button-applications:hover,
.services-button-applications:focus {
	background-color: var(--special-extra-green);
}

.services-button-applications:active {
	background-color: var(--special-extra-green);
	color: var(--special-white-opacity);
}


.services-button-presentations {
	background-color: var(--special-light-yellow);
}

.services-button-presentations:hover,
.services-button-presentations:focus {
	background-color: var(--special-extra-yellow);
} 

.services-button-presentations:active {
	background-color: var(--special-extra-yellow);
	color: var(--special-white-opacity);
}


/*about-us*/


.wrapper-about-us {
	display: grid;
	grid-template-columns: 1fr min-content;
	column-gap: 140px;
	margin-bottom: 77px;
}


.about-us-slogan {
	font-size: 45px;
	line-height: 45px;
}

.about-us-lead {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--basic-light-black);
}

.about-us-list {
	padding: 0;
	margin: 0;
}
.about-us-item {
	list-style: none;
}

/*accuracy*/

.accuracy-slogan {
	color: var(--basic-black);
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}

.accuracy-description-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.accuracy-description-term {
	text-align: center;
}

.accuracy-description-term {
	color: var(--basic-black);
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
}

.description-element {
	color: var(--basic-black);
	font-size: 26px;
	line-height: 40px;
}

.accuracy-description-definition {
	font-size: 16px;
	line-height: 18px;
	align-items: center;
}


/*partners-list*/

.partners {
	margin-bottom: 80px;
}


.partners-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 41px;
}

/*page-catalog*/

.title-catalog {
	color: var(--basic-black);
	background-color: var(--basic-light-gray); 
	font-weight: 500px;
	font-size: 55px;
	margin: 0 auto;
	text-align: center;
	padding-top: 89px;
	padding-bottom: 116px;
}

/*templates*/

.templates-sizing p {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	text-transform: uppercase;
}


.templates-list {
	list-style: none;
}

.templates-item a {
	color: color: var(--basic-black);
	font-size: 14px;
	line-height: 18px;
	opacity: 0.3;
}

.templates-item a:hover,
.templates-item a:focus {
	opacity: 0.6;
}

.templates-item a:active {
	color: var(--basic-black);
}


/*catalog*/



.wrapper-catalog {
	width: 1160px;
	margin: 0 auto;
	margin-top: 63px;
	display: grid;
	grid-template-areas:
	"filter catalog";
	grid-template-columns: min-content auto;
	margin-bottom: 60px;
}
/*сделал размеры блока с фильтром что бы выстроить сетку*/
.filter-shape {
	grid-area: filter;
  	width: 260px;
  	height: 772px;
}

.templates {
	grid-area: catalog;
  	margin-left: 140px;
}

.templates-sizing {
	display: grid;
	grid-template-columns: min-content min-content;
}

.templates-sizing p{
	margin: 0;
}

.templates-list {
	padding: 0;
	margin: 0;
	margin-left: 267px;
}
/*catalog-list*/

.catalog-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 41px;
	grid-row-gap: 31px;
}
/*добавил рамки что бы лучше было видно границы карточек*/
.catalog-item {
	border: 1px solid var(--special-light-grey); 
}

.catalog-item-wrapper {
	display: none;
	background-color: var(--basic-light-gray);
}

.catalog-item-title {
	color: var(--basic-black);
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	text-align: center;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
	color: var(--basic-light-red);
}

.catalog-item-title:active {
	color: var(--special-black-opacity);
}


.catalog-item-text {
	color: var(--special-gray); 
	font-size: 16px;
	line-height: 18px;
	align-items: center;
	text-align: center;
}

.catalog-item-button {
	background-color: var(--basic-light-red); 
}

.catalog-item-button:hover,
.catalog-item-button:focus {
	background-color: var(--special-red);
}

.catalog-item-button:active {
	background-color: var(--special-red);
}


.catalog-pagination-list {
	list-style: none;
}

.catalog-pagination-item a {
	background-color: var(--basic-light-gray);
	color: var(--basic-black);
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
}

.catalog-pagination-item a:hover,
.catalog-pagination-item a:focus {
	background-color: var(--special-extra-grey);
}

.catalog-pagination-item a:active {
	background-color:var(--special-extra-light-grey);
	color: var(--special-black-opacity);
}

/*footer-contacts*/

.footer-contacts {
	margin-bottom: 79px;
}

.footer-contacts img {
	width: 100%;
	height: 416px;
	position: absolute;
	z-index: -1;
}

.wrapper-contacts {
	width: 1160px;
	min-height: 416px;
	margin: 0 auto;
	position: relative;
}

.footer-address {
	width: 319px;
	height: 308px;
	position: absolute;
	left: 0;
	top: 54px;
	background-color: var(--basic-white);
}


.footer-address b {
	display: block;
	padding-left: 50px;
	padding-right: 76px;
	padding-top: 49px;
	padding-bottom: 22.71px;
	color: var(--basic-black);
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	text-transform: uppercase;
}

.footer-address p {
	padding-left: 50px;
	padding-right: 39px;
	color: var(--special-gray);
	font-size: 16px;
	line-height: 18px;
	align-items: center;
}

.footer-phone {
	color: var(--special-gray);
	font-size: 16px;
	line-height: 18px;
	align-items: center;
}

.write-us-button {
	background-color: var(--basic-light-red);
}

.write-us-button:active {
	background-color: var(--special-red);
	color: var(--special-white-opacity);
}


/*footer-social*/

.footer-social {
	display: grid;
	grid-template-columns: 260px 1fr;
	column-gap: 139px;
}

.footer-social-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 81px;
	height: 81px;
	border-radius: 50%;
	background-color: var(--special-light-grey);
	color: var(--basic-white);
}

.social-button:active {
	background-color: var(--special-extra-red);
}

.social-button:hover,
.social-button:focus {
	background-color: var(--special-red);
}

.social-button:active svg {
	fill-opacity: 0.3;
}




.footer-social-slogan {
	color: var(--basic-black);
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	align-items: center;
}	


.footer-social-text {
	color: var(--special-dark-grey);
	font-size: 16px;
	line-height: 22px;
}


.footer-social-slogan {
	margin: 0;
}


/*/*button*/

.button {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
}
